Function			Requirement
Motor PWM				1 x PWM output									PortC.RC1/T1OSI/CCP2
Motor Speed (back emf)	1 x ADC input									PortA.RA1/AN1/C12IN1-
Wheel Speed				1 x Edge triggered input - Compare module		PortB.RB2/INT2/AN8
LCD Display				Enable											RE0/RD/AN5
						ReadWrite										RE1/WR/AN6
						Reg Select										RE2/CS/AN7
						Data 4											PortD.RD0
						Data 5											PortD.RD1
						Data 6											PortD.RD2
						Data 7											PortD.RD3
Throttle Input			1 x ADC input									PortA.RA0/AN0/C12IN0
Battery Voltage			ADC input 1										PortA.RA2/AN2/VREF-/CVREF/C2IN+
						ADC input 2										PortA.RA3/AN3/VREF+/C1IN+
						ADC input 3										PortA.RA4/T0CKI/C1OUT
						ADC input 4										PortA.RA5/AN4/SS/HLVDIN/C2OUT
Lights On Button		1 Edge triggered interrupt						RB0
Light on LED 			1 Digital Output								RC3
Brakes On Button		1 Edge triggered interrupt						RB1
Brake on LED			1 Digital Output								RC4
Left turn Button		1 Edge triggered interrupt						RB4
Left indicator LED		1 Digital Output								RC5
Right turn Button		1 Edge triggered interrupt						RB5
Right indicator LED		1 Digital Output								RC6
Horn button				1 Edge triggered interrupt						RB6
Horn Piezo				1 Digital Output								RC7
LCD function button		1 Edge triggered interrupt						RB7
Operation Mode 			1 Digital input									RD7/PSP7/P1D
			

1  x PWM output
6  x ADC input
1  x Edge triggered input - Compare module
6  x Edge triggered input 
13 x Digital IO


27 Total lines


== Pins available == 
 * 19   RA0/AN0/C12IN0              RA0     A       0	Throttle Input
 * 20   RA1/AN1/C12IN1-             RA1     A       1	Motor Speed (back emf)
 * 21   RA2/AN2/VREF-/CVREF/C2IN+   RA2     A       2	Battery Voltage	
 * 22   RA3/AN3/VREF+/C1IN+         RA3     A       3	Battery Voltage	
 * 23   RA4/T0CKI/C1OUT             RA4     A       4	Battery Voltage	
 * 24   RA5/AN4/SS/HLVDIN/C2OUT     RA5     A       5	Battery Voltage	
 * 31	OSC2/CLKOUT/RA6				RA6		A		6
 * 32	OSC1/CLKIN/RA7				RA7		A		7
 * 8    RB0/INT0/FLT0/AN12          RB0     B       0	Lights On Button
 * 9    RB1/INT1/AN10/C12IN3-       RB1     B       1	Brakes On Button
 * 10   RB2/INT2/AN8                RB2     B       2	Wheel RPM 
 * 11   RB3/AN9/C12IN2-/CCP2(1)     RB3     B       3
 * 14   RB4/KBI0/AN11               RB4     B       4	Left turn Button
 * 15   RB5/KBI1/PGM                RB5     B       5	Right turn Button
 * 16   RB6/KBI2/PGC                RB6     B       6	Horn button
 * 17   RB7/KBI3/PGD                RB7     B       7	LCD function button
 * 32   RC0/T1OSO/T13CKI            RC0     C       0
 * 35   RC1/T1OSI/CCP2              RC1     C       1	Motor PWM		
 * 36   RC2/CCP1/P1A                RC2     C       2	
 * 37   RC3/SCK/SCL                 RC3     C       3	Digital Output
 * 42   RC4/SDI/SDA                 RC4     C       4	Digital Output
 * 43   RC5/SDO                     RC5     C       5	Digital Output
 * 44   RC6/TX/CK                   RC6     C       6	Digital Output
 * 1    RC7/RX/DT                   RC7     C       7	Digital Output
 * 38   RD0/PSP0                    RD0     D       0	LCD Data 1
 * 39   RD1/PSP1                    RD1     D       1	LCD Data 2
 * 40   RD2/PSP2                    RD2     D       2	LCD Data 3
 * 41   RD3/PSP3                    RD3     D       3	LCD Data 4
 * 2    RD4/PSP4                    RD4     D       4	Operation Mode
 * 3    RD5/PSP5/P1B                RD5     D       5	
 * 4    RD6/PSP6/P1C                RD6     D       6	ICSP
 * 5    RD7/PSP7/P1D                RD7     D       7	ICSP
 * 25   RE0/RD/AN5                  RE0     E       0	LCD Enable
 * 26   RE1/WR/AN6                  RE1     E       1	LCD RW
 * 27   RE2/CS/AN7                  RE2     E       2	LCD Reg/Select

4 Pins un-used
* 31	SC2/CLKOUT/RA6				RA6		A		6
* 32	OSC1/CLKIN/RA7				RA7		A		7
* 36    RC2/CCP1/P1A                RC2     C       2
* 11   	RB3/AN9/C12IN2-/CCP2(1)     RB3     B       3
* 32   	RC0/T1OSO/T13CKI            RC0     C       0
* 3     RD5/PSP5/P1B                RD5     D       5	